<p><pre><%=note.body%>
--<%=note.user.email%>
</pre></p>
<% if note.user_id == current_user.id %>
  <form id="delete_note_<%=note.id%>" action="<%=note_url(note.id)%>" method="post">
    <%= make_authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>
